
:root{
    --p:1.3rem;
    --h2:2rem;
    --h1:3rem;
    --blackcolor: rgb(73, 63, 63);
    --paracolor:rgb(109, 109, 109);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navigation bar */

nav{
    display: flex;
    justify-content: space-between;
    padding: 0vw 13vw;
    align-items: center;
    position: absolute;
    z-index: 5;
    width: 100vw;
}
.logo{
    display: flex;
    align-items: center;
    gap:2vw;
}
.logo img{
    height: 6.5vw;
}
.items{
    display: flex;
    align-items: center;
    gap:2vw;
   
}
.items a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: var(--p);
}
.logo a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: var(--p);
}

.logo a:hover{
    color: rgb(117, 246, 4);
}
.items a:hover{
    color: rgb(117, 246, 4);
}



/* hero section */
.imagelayer{
    background : url(https://cdn.cundall.com/uploads/images/Sub-sectors/_large_image/57868/Tall-Bulidings.webp?v=1694509532%2C0.5988%2C0.4303);
    height: 35vw;
    width: 100vw;
    background-blend-mode: multiply;

}
.container{
    position: relative;
}
.colorlayer{
    position: absolute;
    background: linear-gradient(to right,green,rgb(9, 125, 197));
    height: 35vw;
    width: 100vw;
    bottom: 12.5vw;
    opacity: 0.5;
}
.firstlayer h1{
    position: absolute;
    z-index: 3;
    bottom: 27vw;
    left:13vw;
    font-weight: 900;
    font-size: 3.5rem;
    background: linear-gradient(to right,white,rgb(36, 255, 72));
    -webkit-background-clip: text;
    color: transparent;
}

/* search bar */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    z-index:2;
    height: 3.5vw;
    border-radius: 1vw;
    position: absolute;
    bottom: 22vw;
    left:13vw;
    background-color: white;
  }
  
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;

  }  
  input.nosubmit {
    border: 1px solid #555;
    width: 50vw;
    height: 3.5vw;
    border-radius: 1vw;
    padding: 9px 4px 9px 40px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }


.place{
    display: flex;
    gap:1vw;
    justify-content: center;
    font-size: var(--p);
    margin-top: 2vw;
}
.location{
    display: flex;
    gap:1vw;

}
.date{
    border-left:2px solid gray;
    padding-left: 1vw;
}
.date select{
        border: none ;
        cursor: pointer;
        font-size: var(--p);
}




/* Latest event */
.event{
    padding: 0vw 13vw;
    margin-top: 3vw;
}
.event h2{
    font-size: var(--h2);
    margin-bottom: 1vw;
    color: var(--blackcolor);
}
.boxes{
    display: flex;
    gap:1.5vw;
}
.boxes div{
    border-radius: 1vw;
    height: 8vw;
    width: 17.1vw;
    border: 0.01px solid rgb(206, 206, 206);
    box-shadow: 1px 2px 5px gray;
    /* border: none; */
}
.boxes h3{
    margin-top: 5vw;
    margin-left: 1vw;
    color: white;
}
.box1{
    background: linear-gradient(to right, rgb(64, 234, 161),rgb(3, 109, 81));
}
.box5{
    background-image: url(https://png.pngtree.com/png-clipart/20230411/original/pngtree-rugby-ball-png-image_9044880.png);

    background-size:8vw;
    background-position: 7vw;
    background-repeat: no-repeat;
    font-size: var(--p);
}
.box2{
    background: linear-gradient(to right, rgb(16, 89, 153),rgb(5, 119, 175));
}
.box6{
    background-image: url(https://freepngimg.com/download/wrestling/32783-3-wrestling-belt-hd.png);

    background-size:20vw;
    background-position: 2vw;
    background-repeat: no-repeat;
    font-size: var(--p);
}
.box3{
    background: linear-gradient(to right, rgb(11, 169, 158),rgb(2, 71, 82));
}
.box7{
    background-image: url(https://www.svgrepo.com//show/73420/tennis-ball.svg);

    background-size:7vw;
    background-position: 7vw;
    background-repeat: no-repeat;
    font-size: var(--p);
}
.box4{
    background: linear-gradient(to right, rgb(203, 135, 26),rgb(244, 208, 149));
}
.box8{
    background-image: url(https://pngimg.com/d/golf_PNG44.png);
    background-size:10vw;
    background-position: 6vw;
    background-repeat: no-repeat;
    font-size: var(--p);
}



/* Top spearkers*/
.speaker h2{
    font-size: var(--h2);
    margin-bottom: 1vw;
    color: var(--blackcolor);
}
.speaker{
    padding: 0vw 13vw;
    margin-top: 3vw;
}
.speaker p{
    font-size: var(--p);
    margin-top: 1vw;
}
.speakerboxs{
    display: flex;
    gap:1.5vw;
    
}
.box12{
    border-radius: 1vw;
    height: 14vw;
    width: 17.5vw;
    border: 0.01px solid rgb(206, 206, 206);
    box-shadow: 1px 2px 5px gray;
}
.box12 img{
    height:10vw;
    width: 17vw;
    border-radius: 1vw 1vw 0.5vw 0.5vw;
    
}




/* register section */

.register{
    margin-top: 3vw;
    height: 30vw;
    width: 100vw;
    background: linear-gradient(to right,rgb(143, 191, 88),rgb(12, 118, 160));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vw
}
.register h1{
    font-size: var(--h1);
}
.register p{
    font-size: 1.5rem;
}
.register button{
    font-size: 1.2rem;
    padding: 1vw 2.5vw;
    border-radius: 1vw;
    border: none ;
    margin-top: 1vw;
}



/* guarante you can trust */
.container2{
    margin-top: 5vw;
    padding: 0vw 13vw;
    display:flex;
    justify-content: space-between;
    height: 40vw;

}
.image-box img{
        height:35vw;
        width: 30vw;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1vw;
    margin-bottom: 3vw;
}
.content h1{
    font-size: var(--h2);
}
.content >p{
    font-size: var(--p);
    font-weight: 600;
    color: var(--paracolor);
}
.img-icon p{
    font-size: var(--p);
    color: var(--paracolor);
}
.img-icon{
    display: flex;
    flex-direction: column;
    gap:3vw;
    margin-top: 2vw;
}
.img-icon3{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: rgb(184, 226, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.img-icon3 img{
        height: 2vw;
        width: 2vw;
}
.img-icon5{
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: rgb(184, 226, 242);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
.img-icon5 img{
    height: 2vw;
    width: 2vw;
}
.img-icon1,.img-icon4{
    display: flex;
    gap:2vw;
    align-items: center;

}



/* areas links */
.area{
    margin-top: 2vw;
    padding: 2vw 13.5vw;
    display: flex;
    justify-content:space-between;
    width: 100vw;
    border: 1px solid rgb(199, 199, 199);
}
.area a{
    font-size: 1.3rem;
    text-decoration: none;
    color: rgb(40, 90, 206);
}



/* footer */
.footer{
    margin-top:3vw;
    padding: 0vw 13vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(199, 199, 199);
    
}
.footer1{
    display: flex;
    gap:8vw;
    border-right: 1px solid rgb(199, 199, 199);
    padding-right: 5vw;
    margin-bottom: 2vw;
}
.footer1 div{
    display: flex;
    flex-direction: column;
    gap:1.5vw;
    
}
.footer1 a{
    text-decoration: none;
    color: var(--paracolor);
}

.footer2{
    margin-top: 2.5vw;
    display: flex;
    flex-direction: column;
    gap:1vw;
    text-align: center;
    
}
.footer2 p{
    font-size: 1rem;
}
.footer2 input{
    height: 3vw;
    border: 1px solid black;
    border-radius: 0.5vw;
    width: 25vw;
    padding-left: 3vw;
    font-size: 1rem;
}
.footer2 button{
            position: absolute;
            height: 2.8vw;
            border-radius: 0.5vw;
            background-color: rgb(129, 215, 100);
            color: white;
            font-weight: 900;
            padding: 0.2vw 1vw;
            right: 13.02vw;
            margin-top: 0.08vw;
            border: none;
}


/* rights */
.rights{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0vw 13vw;
    color: var(--paracolor);
}